VITE_API_BASE=https://gaokao.aicoming.cn
VITE_FREE_DEEP_REPORTS_ENABLED=true
VITE_PAYMENT_ENABLED=false
VITE_PDF_DOWNLOAD_ENABLED=true
VITE_MEMBERSHIP_PRICE_LABEL=¥19.9
VITE_WECHAT_LOGIN_MOCK=false
VITE_CUSTOMER_WECHAT_ID=HRJ-11055
