VITE_API_BASE=http://47.113.125.147
VITE_USE_WECHAT_CLOUD_CONTAINER=false
VITE_WECHAT_CLOUD_ENV=cloud1-d9gnnxnx79feadfae
VITE_WECHAT_CLOUD_SERVICE=flask-xsun
VITE_PAYMENT_ENABLED=false
VITE_PDF_DOWNLOAD_ENABLED=false
